@import '/src/styles.scss';

.header{  
      @extend %theme-white-bg;
      box-shadow: 0px 1px 10px black;
      position: fixed;
      width: 100%;
      z-index: 999;

      ::ng-deep.mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
            display: none !important;
      }

      & .mat-tab-label-active{
            @extend %theme1-subtitle;
      }
      & img{
        display: none;
      }
      & .mat-tab-link, .mat-ink-bar{
        width: auto;
      }

      &__buttonsContainer{
            gap: 1.2rem;
            position: absolute;
            top: 0.5rem;
            right: 2rem;
      }

      &__button{            

            &.theme1{                  
                  @extend %theme1-bg-bg;
                  @extend %theme1-title;
            }

            &.theme2{                  
                  @extend %theme2-bg-bg;
                  @extend %theme2-title;
            }
      }

      &__text{
            @extend %subtitle;
            @extend %theme1-subtitle;
            display: none;
      }

}

@include mq-min(desktop){
      .header{  
        & img{
            width: 52px;
            display: block;
          }
            & .mat-tab-link, .mat-ink-bar{
            width: auto;
            }

            &__text{
                  display: block;
            }
      }
}  

